/** FONT IMPORT------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/** CSS RESET------------------------------ */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/** ROOT------------------------------ */
:root {
  /*? Neutral */
  --neutral-900: #163a34;
  --neutral-600: #395852;
  --neutral-300: #d0dcd9;
  --neutral-200: #e0e6e3;
  --neutral-100: #f6f5f1;
  --neutral-0: #ffffff;

  /*? Orange */
  --orange-500: #fe9f6b;

  /*? Teal */
  --teal-500: #49ac9b;

  /*? Indigo */
  --indigo-500: #697ddb;

  /** Font */
  --default-font: "Nunito", sans-serif;
}

/** TEXT PRESETS------------------------------ */

.text-preset-1 {
  font-size: 72px;
  line-height: 110%;
  letter-spacing: -2px;
  font-weight: 800;
}

.text-preset-1-tablet {
  font-size: 64px;
  line-height: 110%;
  letter-spacing: -2px;
  font-weight: 800;
}

.text-preset-1-mobile {
  font-size: 52px;
  line-height: 110%;
  letter-spacing: -2px;
  font-weight: 800;
}

.text-preset-2 {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -2px;
  font-weight: 800;
}

.text-preset-2-mobile {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -2px;
  font-weight: 800;
}

.text-preset-3 {
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: 700;
}

.text-preset-4 {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: 700;
}

.text-preset-5 {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.text-preset-6 {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.4px;
  font-weight: 500;
}

.text-preset-7 {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.3px;
  font-weight: 600;
}

.text-preset-8 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.3px;
  font-weight: 800;
}

.text-preset-9 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.3px;
  font-weight: 500;
}

.text-preset-10 {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.3px;
  font-weight: 700;
}

/*! I forgot! */

ul,
ol {
  list-style: none;
}

/** MEAT AND POTATOES🦶🏾☆*: .｡. o(≧▽≦)o .｡.:*☆👌🏾------------------------------ */

html {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
}
body {
  /* border: 1px solid blue; */
  font-family: var(--default-font);
  background-color: var(--neutral-100);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.project-container {
  width: 1440px;
  min-width: 375px;
  padding: 0;
}

/* .project-container > * {
  border: 1px solid blue;
} */

/*! HEADER */
header {
  padding: 20px 60px;
  border-bottom: 1px solid var(--neutral-300);
  margin-bottom: 80px;
  /* display: flex; */
  /* justify-content: center;
  align-content: center; */
}
nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  /**-------------- Children */
  .logo {
    width: 260px;
  }

  nav .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .nav-links a {
    text-decoration: none;
  }

  & .nav-links a:visited {
    color: var(--neutral-600);
  }

  .nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
    color: var(--neutral-900);
  }

  .nav-links li {
    border-bottom: 3px solid transparent;
    cursor: pointer;
  }

  .nav-links li:hover {
    transition: border-bottom 0.3s ease-in-out;
    border-bottom: 3px solid var(--orange-500);
  }

  .nav-links li:active {
    border-bottom: 3px solid var(--orange-500);
  }

  button {
    /*! CLAMP THE FONT SIZE!  */
    padding: 12px 16px;
    border-radius: 10px;
    border: none;
    background-color: var(--neutral-900);
    color: var(--neutral-0);
  }

  button:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: var(--neutral-600);
    cursor: pointer;
  }

  li:focus,
  button:focus {
    border: 3px solid var(--neutral-900);
  }
}
.hamburger-container {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: var(--neutral-300);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  .hamburger {
    width: 18px;
    height: 16px;
  }
}
/* ! HERO */
.hero {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  max-width: 1192px;
  padding: 2rem;

  padding-bottom: 96px;

  .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
  }

  .hero-info-text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .hero-info-text h1 {
    color: var(--neutral-900);
  }

  .hero-info-text p {
    color: var(--neutral-600);
  }

  .orange-thang {
    z-index: -1;
    position: absolute;
    top: 30px;
    left: -5px;
    background-color: var(--orange-500);
    height: 50px;
    width: 274px;
    opacity: 40%;
    border-radius: 4px;
  }

  button {
    /*! CLAMP THE FONT SIZE!  */
    padding: 16px 32px;
    border-radius: 10px;
    border: none;
    background-color: var(--neutral-900);
    color: var(--neutral-0);
  }

  .hero-img-container {
    width: fit-content;
    /* border: 13px solid var(--neutral-0); */
    outline: 12px solid var(--neutral-0);
    border-radius: 8px;
    overflow: hidden;
  }
}
/** INFO 1 */
.info-1 {
  margin: 0 auto;
  max-width: 1192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 96px 32px;
  padding-top: 0px;
  border-bottom: 1px solid var(--neutral-300);

  h2 {
    color: var(--neutral-900);
    padding: 2rem;
  }

  .info-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .info-card {
    width: 100%;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
  }

  .info-card h3 {
    color: var(--neutral-900);
  }

  .info-card p {
    color: var(--neutral-600);
  }

  .info-card-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-200);
    border-radius: 12px;
    height: 50px;
    width: 50px;
  }
}
/** INFO 2  */
.info-2 {
  margin: 0 auto;
  max-width: 1192px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;

  padding: 0px 1.5rem;

  .info-2-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .orange-sticky {
    position: relative;
  }

  .info-2-1-orange-thang {
    z-index: -1;
    border-radius: 0.3rem;
    background-color: var(--orange-500);
    position: absolute;
    top: 40%;
    width: 105px;
    min-width: none;
    height: 15px;
  }

  .info-2-2 {
    padding: 96px 0;
    border-radius: 8px;
  }
  .info-2-image-container {
    border-radius: 8px;
    overflow: hidden;
  }

  h3 {
    color: var(--neutral-900);
  }

  p {
    color: var(--neutral-600);
  }
}
/** INFO 3  */
.info-3 {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  max-width: 1192px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 96px 0;
  background-color: var(--neutral-200);
  overflow: hidden;
  border-radius: 16px;

  .info-3-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }

  h3 {
    color: var(--neutral-900);
  }

  p {
    color: var(--neutral-600);
  }

  button {
    padding: 16px 32px;
    border-radius: 10px;
    border: none;
    background-color: var(--neutral-900);
    color: var(--neutral-0);
  }

  button:hover {
    background-color: var(--neutral-600);
  }

  .fork,
  .knife {
    position: absolute;
    z-index: -1;
  }

  .fork {
    top: 5%;
    left: -6%;
  }

  .knife {
    top: 5%;
    right: -6%;
  }
}

/* ! Footer */
footer {
  max-width: 1192px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 0px;

  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  img {
    width: 25px;
    height: 22px;
  }
}

/*? ABOUT PAGE------------------------------------- */
/* * HERO */
.about-hero {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  max-width: 1192px;
  padding: 2rem;

  padding-bottom: 96px;
  border-bottom: 1px solid var(--neutral-300);

  .about-hero-info {
    max-width: 510px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h1 {
      color: var(--neutral-900);
    }
  }

  .about-highlighted-text {
    width: fit-content;
    padding: 2px 6px;
    background-color: #fe9f6b;
    border-radius: 6px;
    color: var(--neutral-900);
  }

  .about-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--neutral-600);
  }

  .about-hero-img {
    overflow: hidden;
    border-radius: 1rem;
  }

  .squiggle {
    position: absolute;
    max-height: 210px;
    max-width: 120px;

    bottom: 40%;
    right: 0;
  }
}
/* * ABOUT INFO 1 */
.about-info-1 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1192px;
  padding: 96px 2rem;
  gap: 64px;
  border-bottom: 1px solid var(--neutral-300);

  h3,
  h2 {
    color: var(--neutral-900);
  }

  p {
    color: var(--neutral-600);
  }

  .about-info-1-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 756px;
    max-height: 465px;
  }

  .info-list-1-item {
    display: flex;
    gap: 20px;
  }

  .info-list-1-item img {
    max-width: 32px;
    max-height: 32px;
  }

  .info-list-1-item-paragraph {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
/* * ABOUT INFO 2 */
.about-info-2 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1192px;
  padding: 96px 2rem;
  gap: 64px;

  h2 {
    color: var(--neutral-900);
  }

  p,
  ul {
    color: var(--neutral-600);
  }

  .about-info-2-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about-info-2-1 ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .about-info-2-1 li {
    position: relative;
    padding-left: 1.4rem;
  }

  .about-info-2-1 li::before {
    content: "•";
    position: absolute;
    left: 0;
  }

  .about-info-2-2 {
    overflow: hidden;
    border-radius: 16px;
  }

  .about-info-2-2 img {
    height: 100%;
  }
}
/*?------------------------------------- */

/*? RECIPES PAGE------------------------------------- */
.recipe-card-grid {
  margin-top: 1rem;
  margin: 0 auto;
  max-width: 1192px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 32px;
  .recipe-card {
    padding: 0.5rem;
    background-color: var(--neutral-0);
    height: 500px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .recipe-card-image-container {
      overflow: hidden;
      border-radius: 1rem;

      img {
        height: 100%;
      }
    }

    button {
      appearance: none;
      border: none;
      width: 100%;
    }
  }
}

/*? Filters */
.recipe-filters {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
  max-width: 1192px;
  align-items: stretch;

  /** CHILDREN */
  .clear {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.3rem;
  }

  .clear:hover {
    border: 1px solid orange;
    transition: border 0.3s ease-in-out;
    cursor: pointer;
  }

  .max-cookandprep-container {
    display: flex;
    gap: 1rem;
  }

  .max-prep-time-container,
  .max-cook-time-container {
    position: relative;
  }

  .max-prep-time-item,
  .max-cook-time-item {
    border-radius: 8px;
    padding: 0.3rem;
    border: 1px solid transparent;
  }

  .max-prep-time-item:hover,
  .max-cook-time-item:hover {
    border: 1px solid var(--orange-500);
    transition: border 0.2s ease-in-out;
    cursor: pointer;
  }

  button {
    width: 181px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--neutral-300);
    background-color: var(--neutral-0);
    position: relative;
  }

  button:hover {
    background-color: var(--neutral-100);
    transition: background-color 0.5s ease-in-out;
  }

  .max-prep-time-options,
  .max-cook-time-options {
    position: absolute;
    width: 240px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    color: var(--neutral-900);
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-300);
    padding: 1rem;
    border-radius: 8px;
  }

  .search-container {
    position: relative;
    border: 1px solid blue;

    img {
      position: absolute;
      top: 25%;
      left: 1rem;
      width: 20px;
      height: 20px;
    }
  }

  input[type="search"] {
    min-width: 310px;
    min-height: 47px;
    border: 1px solid red;
    padding-left: 2.5rem;
    appearance: none;
    outline: none;
    border: 1px solid var(--neutral-300);
    border-radius: 10px;
    text-align: left;
  }
}

/** MEDIA QUERIES------------------------------ */
/* ! 768px */
@media (width <= 768px) {
  /*! HEADER */
  header {
    /* border: 1px solid red; */
    padding: 16px;
    margin-bottom: 0;

    /*? NAV STUFF HERE */
  }

  /*! HERO-------------------------------------------- */
  .hero {
  }

  .hero {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1192px;
    padding: 2rem;
    padding-top: 48px;

    padding-bottom: 96px;

    /* .hero-squiggle {
    width: 130%;
    top: 40%;
    z-index: -1;
    position: absolute;
  } */

    .hero-info {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 40px;
      text-align: left;
    }

    h1 {
      font-size: 60px;
      line-height: 110%;
      letter-spacing: -2px;
      font-weight: 800;
    }

    .orange-thang {
      z-index: -1;
      position: absolute;
      top: 20px;
      left: -5px;
      background-color: var(--orange-500);
      height: 50px;
      width: 220px;
      opacity: 40%;
      border-radius: 4px;
    }

    .hero-info-text {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    h1 {
      color: var(--neutral-900);
    }

    p {
      color: var(--neutral-600);
    }

    .hero button {
      /*! CLAMP THE FONT SIZE!  */
      padding: 16px 32px;
      border-radius: 10px;
      border: none;
      background-color: var(--neutral-900);
      color: var(--neutral-0);
    }

    .hero-img-container {
      width: 100%;
      height: auto;
      outline: none !important;
      border: none;
      border-radius: 8px;
      overflow: hidden;
    }
    .hero img {
      border: 8px solid var(--neutral-0);
      max-width: 100%;
      height: 100%;
    }
  }
  /*! INFO 1-------------------------------------------- */
  .info-1 {
    /* border: 1px solid orange; */
  }
  .info-1 {
    margin: 0 auto;
    max-width: 1192px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 48px;
    padding: 80px 32px;
    padding-top: 0;

    border-bottom: 1px solid var(--neutral-300);

    h2 {
      color: var(--neutral-900);
      padding: 0;
    }

    .info-card-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 32px;
    }

    .info-card {
      width: 100%;
      height: 198px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 24px;
    }

    .info-card h3 {
      color: var(--neutral-900);
    }

    .info-card p {
      color: var(--neutral-600);
    }

    .info-card-top {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--neutral-0);
      border: 1px solid var(--neutral-200);
      border-radius: 12px;
      height: 50px;
      width: 50px;
    }
  }

  /*! INFO 2-------------------------------------------- */
  .info-2 {
    margin: 0 auto;
    max-width: 1192px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 80px 32px;

    .info-2-1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .info-2-2 {
      padding: 0;
    }

    .info-2-2 {
      border-radius: 8px;
    }

    .info-2-image-container {
      border-radius: 8px;
      overflow: hidden;
    }

    .info-2 h3 {
      color: var(--neutral-900);
    }

    .info-2 p {
      color: var(--neutral-600);
    }
  }

  /*! INFO 3-------------------------------------------- */
  .info-3 {
    z-index: 2;
    position: relative;
    margin: 0 auto;
    max-width: 1192px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 96px 0;

    background-color: var(--neutral-200);

    overflow: hidden;
    border-radius: 16px;
    margin-left: 32px;
    margin-right: 32px;
    /* margin-bottom: 96px; */

    .info-3-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 48px;
    }

    h3 {
      color: var(--neutral-900);
    }

    p {
      color: var(--neutral-600);
    }

    button {
      padding: 16px 32px;
      border-radius: 10px;
      border: none;
      background-color: var(--neutral-900);
      color: var(--neutral-0);
    }

    button:hover {
      background-color: var();
    }

    .fork,
    .knife {
      height: 50%;
      width: 25%;
      position: absolute;
      z-index: -1;
    }

    .fork {
      top: unset;
      bottom: -10%;
    }

    .knife {
      top: -10%;
      right: -6%;
    }
  }

  footer {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 0px;

    ul {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    img {
      width: 25px;
      height: 22px;
    }
  }

  /*? ABOUT----------------------------------------------- */
  /* * HERO */
  .about-hero {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 64px;
    max-width: 1192px;
    padding: 64px 32px;

    padding-bottom: 96px;
    border-bottom: 1px solid var(--neutral-300);

    .about-hero-info {
      max-width: 100%;
      max-height: 450px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      h1 {
        color: var(--neutral-900);
      }
    }

    .about-highlighted-text {
      width: fit-content;
      padding: 2px 6px;
      background-color: #fe9f6b;
      border-radius: 6px;
      color: var(--neutral-900);
    }

    .about-paragraphs {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: var(--neutral-600);
    }

    .about-hero-img {
      overflow: hidden;
      border-radius: 1rem;
    }

    .squiggle {
      position: absolute;
      max-height: 210px;
      max-width: 120px;

      bottom: 40%;
      right: 0;
    }
  }
  /* * ABOUT INFO 1 */
  .about-info-1 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1192px;
    padding: 96px 2rem;
    gap: 64px;
    border-bottom: 1px solid var(--neutral-300);

    h3,
    h2 {
      color: var(--neutral-900);
    }

    p {
      color: var(--neutral-600);
    }

    .about-info-1-list {
      display: flex;
      flex-direction: column;
      gap: 48px;
      max-width: 756px;
      max-height: fit-content;
    }

    .info-list-1-item {
      display: flex;
      gap: 20px;
    }

    .info-list-1-item img {
      max-width: 32px;
      max-height: 32px;
    }

    .info-list-1-item-paragraph {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  /* * ABOUT INFO 2 */
  .about-info-2 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1192px;
    padding: 96px 2rem;
    gap: 64px;

    h2 {
      color: var(--neutral-900);
    }

    p,
    ul {
      color: var(--neutral-600);
    }

    .about-info-2-1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .about-info-2-1 ul {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .about-info-2-1 li {
      position: relative;
      padding-left: 1.4rem;
    }

    .about-info-2-1 li::before {
      content: "•";
      position: absolute;
      left: 0;
    }

    .about-info-2-2 {
      overflow: hidden;
      border-radius: 16px;
    }

    .about-info-2-2 img {
      height: 100%;
    }
  }
}

@media (width <= 375px) {
  /*! HEADER */

  header {
    /* border: 1px solid red; */
    padding: 16px;
    margin-bottom: 0;

    /*? NAV STUFF HERE */
  }

  /** HERO-------------------------------------------- */
  .hero {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1192px;
    padding: 1rem;
    padding-top: 48px;

    padding-bottom: 64px;

    /* .hero-squiggle {
    width: 130%;
    top: 40%;
    z-index: -1;
    position: absolute;
  } */

    .hero-info {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 32px;
      text-align: left;
    }

    h1 {
      font-size: 45px;
      line-height: 110%;
      letter-spacing: -2px;
      font-weight: 800;
    }

    .orange-thang {
      z-index: -1;
      position: absolute;
      top: 10px;
      left: -5px;
      background-color: var(--orange-500);
      height: 40px;
      width: 170px;
      opacity: 40%;
      border-radius: 4px;
    }

    .hero-info-text {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    h1 {
      color: var(--neutral-900);
    }

    p {
      color: var(--neutral-600);
    }

    .hero button {
      /*! CLAMP THE FONT SIZE!  */
      padding: 16px 32px;
      border-radius: 10px;
      border: none;
      background-color: var(--neutral-900);
      color: var(--neutral-0);
    }

    .hero-img-container {
      width: 100%;
      height: auto;
      border: 6px solid var(--neutral-0);
      /* outline: 8px solid var(--neutral-0); */
      outline: none !important;
      border-radius: 8px;
      overflow: hidden;
    }
    .hero img {
      border: 8px solid var(--neutral-0);
      width: 100%;
      /* height: auto; */
    }
  }
  /*! INFO 1-------------------------------------------- */
  .info-1 {
    margin: 0 auto;
    max-width: 1192px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
    padding: 64px 16px;
    padding-top: 0;
    padding-bottom: 0;

    border-bottom: 1px solid var(--neutral-300);

    h2 {
      color: var(--neutral-900);
      font-size: 40px;
      padding: 0;
    }

    .info-card-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 24px;
    }

    .info-card {
      width: 100%;
      height: 198px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 16px;
    }

    .info-card h3 {
      color: var(--neutral-900);
    }

    .info-card p {
      width: 100%;
      color: var(--neutral-600);
      font-size: 1rem;
    }

    .info-card-top {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--neutral-0);
      border: 1px solid var(--neutral-200);
      border-radius: 12px;
      height: 50px;
      width: 50px;
    }
  }
  /*! INFO 2-------------------------------------------- */
  .info-2 {
    margin: 0 auto;
    max-width: 1192px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 64px 16px;

    .info-2-1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .info-2-1-orange-thang {
      display: none;
      z-index: -1;
      border-radius: 0.3rem;
      background-color: var(--orange-500);
      position: absolute;
      top: 40%;
      right: 0;
      left: 0;
      width: 105px;
      min-width: none;
      height: 15px;
    }

    .info-2-2 {
      padding: 0;
    }

    .info-2-2 {
      border-radius: 8px;
    }

    .info-2-image-container {
      border-radius: 8px;
      overflow: hidden;
    }

    .info-2 h3 {
      color: var(--neutral-900);
    }

    .info-2 p {
      color: var(--neutral-600);
    }
  }
  /*! INFO 3-------------------------------------------- */
  .info-3 {
    margin: 0 auto;
    z-index: 2;
    position: relative;
    width: 350px;
    height: 343px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 48px;

    background-color: var(--neutral-200);

    overflow: hidden;
    border-radius: 16px;
    padding: 48px 16px;

    .info-3-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }

    h3 {
      color: var(--neutral-900);
      font-size: 31px;
    }

    p {
      color: var(--neutral-600);
    }

    button {
      padding: 16px 32px;
      border-radius: 10px;
      border: none;
      background-color: var(--neutral-900);
      color: var(--neutral-0);
    }

    button:hover {
      background-color: var();
    }

    .fork,
    .knife {
      height: 50%;
      width: 25%;
      position: absolute;
      z-index: -1;
    }

    .fork {
      top: unset;
      bottom: -10%;
    }

    .knife {
      top: -10%;
      right: -6%;
    }
  }

  footer {
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    padding: 32px 0px;
    gap: 1rem;

    ul {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    img {
      width: 25px;
      height: 22px;
    }
  }

  /*? ABOUT----------------------------------------------- */
  /* * HERO */
  .about-hero {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    max-width: 1192px;
    padding: 48px 16px;

    padding-bottom: 96px;
    border-bottom: 1px solid var(--neutral-300);

    .about-hero-info {
      max-width: 100%;
      max-height: 450px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      h1 {
        color: var(--neutral-900);
        font-size: 32px;
      }

      p {
        font-size: 16px;
      }
    }

    .about-highlighted-text {
      width: fit-content;
      padding: 2px 6px;
      background-color: #fe9f6b;
      border-radius: 6px;
      color: var(--neutral-900);
    }

    .about-paragraphs {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: var(--neutral-600);
    }

    .about-hero-img {
      overflow: hidden;
      border-radius: 1rem;
    }

    .squiggle {
      display: none;
      position: absolute;
      max-height: 210px;
      max-width: 120px;

      bottom: 40%;
      right: 0;
    }
  }
  /* * ABOUT INFO 1 */
  .about-info-1 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1192px;
    padding: 48px 1rem;
    gap: 40px;
    border-bottom: 1px solid var(--neutral-300);

    h3,
    h2 {
      color: var(--neutral-900);
    }

    p {
      color: var(--neutral-600);
    }

    .about-info-1-list {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 756px;
      max-height: fit-content;
    }

    .info-list-1-item {
      display: flex;
      gap: 20px;
    }

    .info-list-1-item img {
      max-width: 32px;
      max-height: 32px;
    }

    .info-list-1-item-paragraph {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  /* * ABOUT INFO 2 */
  .about-info-2 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1192px;
    padding: 48px 1rem;
    gap: 32px;

    h2 {
      color: var(--neutral-900);
      font-size: 40px;
    }

    p,
    ul {
      color: var(--neutral-600);
    }

    .about-info-2-1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .about-info-2-1 ul {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .about-info-2-1 li {
      position: relative;
      padding-left: 1.4rem;
    }

    .about-info-2-1 li::before {
      content: "•";
      position: absolute;
      left: 0;
    }

    .about-info-2-2 {
      overflow: hidden;
      border-radius: 16px;
    }

    .about-info-2-2 img {
      height: 100%;
    }
  }
}

/** UTILITIES------------------------------ */

.container-lg {
  width: 1440px;
  min-width: 375px;
}

.container-md {
  width: 1192px;
  min-width: 375px;
}
.hide-me {
  display: none !important;
}

/* .test-margin{
  margin: clamp, clamp()
} */
